@model BeanSceneReservationSystemProject.Models.Sitting
@{
    ViewData["Title"] = "Sitting Details";
}

<h1>Sitting Details</h1>

<div class="card p-4 shadow-sm">
    <dl class="row mb-0">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SittingType)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.SittingType)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StartDateTime)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.StartDateTime)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EndDateTime)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EndDateTime)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Capacity)</dd>

        <dt class="col-sm-3">Guests booked</dt>
        <dd class="col-sm-9">@Model.GuestsBooked</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsClosed)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsClosed)</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.SittingId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
